<form action="/quiz">
  <div class="row">
    <fieldset class="small-12 columns">
      <legend>What lessons would you like to study today?</legend>
      <% Question.distinct.pluck(:lesson).each do |lesson| %>
        <input name="<%= lesson %>" type="checkbox"><label for="checkbox1">Lesson <%= lesson %></label>
      <% end %>
    </fieldset>
  </div>
  <div class="small-12 columns">
      <input type="submit" class="button success" value="Start">
  </div>
</form>
<div class="row text-center">
  <a class="button primary" href="/questions/new">
    Create a Question
  </a>
</div>